<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="container-fulid border-top"></div>

        <div class="container mt-5 text-center">
            <div class="row border-bottom border-dark">
                <div class="col admin-nav-link">
                    <h3><a href="/admin/products/new">Create New Product</a></h3>
                </div>
                <div class="col admin-nav-link">
                    <h3><a href="/admin/products">Product List</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>

        <div class="container"></div>
    </body>
</html>
