<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="container-fulid border-top"></div>

        <div class="container mt-5">
            <div class="row text-center border-bottom border-dark">
                <div class="col admin-nav-link">
                    <h3 class="admin-nav-link"><a href="/admin">Admin Home</a></h3>
                </div>
                <div class="col admin-nav-link">
                    <h3><a href="/admin/products/new">Create New Product</a></h3>
                </div>
            </div>
            <div class="row mt-5 border text-center">
                <div class="col border-right"><h4>Product</h4></div>
                <div class="col border-right"><h4>Price</h4></div>
                <div class="col border-right"><h4>Description</h4></div>
                <div class="col"><h4>Image</h4></div>
            </div>
        </div>
            
    </body>
</html>