<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="container-fulid border-top"></div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>Product List</h1>
                </div>
            </div>
        </div>
    </body>
</html>