<hr>

<!-- <div class="container">
    <div class="my-2">Footer</div>
    <div class="my-2"><button class="btn btn-primary" data-toggle="modal" data-target="#testModal">Open modal using data attrs</button></div>
    <div class="my-2"><button class="btn btn-primary" id="openModalBtn">Open modal using JS</button></div>
</div>

<div class="modal" tabindex="-1" id="testModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid" id="footer-banner-container">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <p>New Disney Visa Cardmembers can earn a</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>100 Statement Cardmember</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Restrictions apply. <br> <span><u>Learn More</u></span></p>
            </div>
        </div>
    </div>
</div>



            <!-- footer nav -->
<div class="container-fluid px-5" id="main-footer-container">
    <div class="row py-5">
        <div class="col d-flex justify-content-between">
            <div class="wrapper">
                <div class="row">
                    <div class="col" id="sign-up">
                        <p>Sign up for our emails to get the inside scoop on special offers and new Products.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-small btn-primary">Sign Up</button>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col">Stay in Touch</div>
                        </div>
                        <div class="row">
                            <div class="col"><a href="#"><u>Privacy Policy</u></a></div>
                        </div>
                    </div> 
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6">
                        <a href="#">icon</a>
                        <a href="#">icon</a>
                        <a href="#">icon</a>
                        <a href="#">icon</a>
                    </div>
                </div>
            </div>

            <ul class="pr-1">
                <li><a href="#">Characters</a></li>
                <li><a href="#">Parks</a></li>
                <li><a href="#">Disney</a></li>
                <li><a href="#">Pixar</a></li>
                <li><a href="#">Star Wars</a></li>
                <li><a href="#">Marvel</a></li>
                <li><a href="#">National Geographic</a></li>
            </ul>
        </div>
        <div class="col border-dark border-left d-flex justify-content-between">
            <ul>
                <li><a href="#">D23</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Sale</a></li>
            </ul>
            <ul>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Return/Exchange</a></li>
                <li><a href="#">Shipping Info</a></li>
                <li><a href="#">Account Info</a></li>
                <li><a href="#">Store Locator</a></li>
            </ul>
            <ul>
                <li><a href="#">Disney Gift Cards</a></li>
                <li><a href="#">Guest Services</a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">About shopDisney</a></li>
                <li><a href="#">Disney Visa Card</a></li>
                <li><a href="#">Personalization Shop</a></li>
            </ul>
        </div>
    </div>




    <div class="row footer-policy-text">
        <div class="col">
            <ul class="ml-0 pl-0 d-flex">
                <li><span>Disney, All rights Reserved</span></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Additional Content Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Your California Privacy Rights</a></li>
                <li><a href="#">Do Not Sell My Personal Information</a></li>
                <li><a href="#">Children's Online Privacy Policy</a></li>
            </ul>
        </div>
    </div>

    <div class="row footer-policy-text mb-5">
        <div class="col">
            <ul class="ml-0 pl-0 d-flex">
                <li><a href="#">About Disney</a></li>
                <li><a href="#">Interest-Based Ads</a></li>
                <li><a href="#">California Transparency in Supply Chains Act</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Include the JavaScript that is bundled by webpack -->
<script src="/main.bundle.js"></script>
