
<div class="banner">
  <div class="container-fluid">
    <div class="row d-flex align-items-center py-3">
      <div class="col-sm-8 text-right"><span class="banner-center"><b>Free Shipping</b> on orders of $75 or more! <b>CODE: SHIPMAGIC</b></span></div>
      <div class="col-sm-4 text-right"><span class="banner-right"><i>Restrictions Apply</i> | <u>See All Offers</u></span></div>
    </div>
  </div>
</div>







                        <!-- top nav -->
<nav class="navbar navbar-expand-lg  border-bottom" id="top-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Guest Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disney® Visa® Card </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#">Store Locator</a>
        </li>
      </ul>

            <a class="navbar-brand" href="#"><img src="http://placekitten.com/150/40" alt=""></a>
      
      <ul class="navbar-nav">
        <% if (currentUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi <%= currentUser.firstName %> !
            </a>
            <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
              <a class="dropdown-item" href="#">Info & Settings</a>
              <a class="dropdown-item" href="#">Order History</a>
              <a class="dropdown-item" href="#">Wish List</a>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item">
             <a class="nav-link" href="#" data-toggle="modal" data-target="#signin-modal">Sign In | Sign up</a>
          </li>
        <% } %>
          <li class="nav-item">
              <a class="nav-link" href="#">My Wish List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">My Bag <span id="my-bag-count"></span></a>
          </li>
      </ul>
    </div>
  </nav>



                  <!-- second nav -->
  <nav class="navbar navbar-expand-lg ">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse d-flex justify-content-between" id="second-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">NEW</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#">SALE</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">VACATION</a>
        </li>
        <li class="nav-item ml-3">
          <a href="#" class="nav-link">CLOTHING</a>
        </li>
        <li class="nav-item ml-3">
          <a href="#" class="nav-link">ACCESSORIES</a>
        </li>
        <li class="nav-item ml-3">
          <a href="#" class="nav-link">TOYS</a>
        </li>
        <li class="nav-item ml-3">
          <a href="#" class="nav-link">HOME</a>
        </li>
        <li class="nav-item ml-3">
          <a href="#" class="nav-link">PARKS</a>
        </li>
      </ul>
      
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="navbar-brand" id="search-dropdown" href="#">SEARCH</a>
          </li>
      </ul>
    </div>
  </nav>

  <!--log in Modal -->
<div class="modal" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row mb-2"><div class="col text-center"><h5 class="modal-title mx-auto" id="exampleModalLabel">Disney account</h5></div></div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="form-group w-75 mx-auto mb-2">
            <input type="text" class="form-control" name="email" placeholder="Username Or Email Address">
          </div>
          <div class="form-group mb-2">
            <input type="text" class="form-control w-75 mx-auto" name="password" placeholder="Password">
          </div>
          <div class="form-group text-center mb-0">
            <button class="btn btn-primary btn-lg w-75 py-3" style="background-color: #0075e3;" id="signin-btn">Sign In</button>
          </div>
        </form>  
      </div>

      <div class="modal-footer mt-0 pb-5 border-0">
        <div class="footer-container mt-0 w-75 mx-auto text-right">
          <a href="#" id="signin-modal-small-text"><u>Need Help Signing in?</u></a>
        </div>
        <div class="footer-container w-75 mx-auto text-center pt-3">
          <a href="#" id="signin-modal-large-text"><u id="createAccountBtn" data-toggle="modal" data-target="#create-account-modal">Create an Account</u></a>
        </div>
      </div>
    </div>
  </div>
</div>

                                  <!-- create account modal -->

<div class="modal pb-0" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row mb-2"><div class="col text-center"><h5 class="modal-title mx-auto" id="">Disney account</h5></div></div>
      <div class="modal-body">
        <form action="/registration/show" method="POST">
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" name="firstName" placeholder="First Name">
          </div>
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name">
          </div>
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" name="email" placeholder="Email Address">
          </div>
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" name="verifyPassword" placeholder="Verify Password">
          </div>
          <div class="form-group mb-2 w-75 mx-auto">
            <input type="text" class="form-control" id="birthdate-input" name="birthDate" placeholder="Birth Date mm/dd/yy">
          </div>

          <div class="modal-container w-75 mx-auto mt-4">
            <div class="row">
              <div class="col">
                <b>Cast Member</b>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="">
                  <label class="form-check-label" for="exampleCheck1"><p class="font-weight-light">I am an employee of the walt Disney Company and its affiliated companies.</p></label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <b>Stay in touch</b>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="">
                  <label class="form-check-label" for="exampleCheck1"><p class="font-weight-light">Yes! I would like to recieve updates, special offers, and other information from shopDisney and The Walt Disney Family of Companies</p></label>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col">
                <p class="font-weight-light">By creating an account, I agree to the <u>Terms of use</u> and acknowledge that I have read the <u>Privacy Policy</u> and <u>California Privacy Notice</u>.</p>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p class="font-weight-light">My home country/region: United States. <u>Change</u>.</p>
              </div>
            </div>

          </div>

       



          <div class="form-group text-center mt-3">
            <button class="btn btn-primary btn-lg w-75 py-2" style="background-color: #0075e3;" id="">Create Account</button>
          </div>
        </form>  

        <div class="row text-center mt-3 mb-0 pb-0">
          <div class="col">
            <p class="font-weight-light">Already have an account? <a href="#" data-toggle="modal" data-target="#signin-modal" id="signInToggle"><u>Sign in</u></a></p>
          </div>
        </div>
      </div>

  


    </div>
  </div>
</div>
