<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="container-fluid border-top">
        <div class="container mt-5 w-75">
            <form action="/login" method="POST">
                <div class="form-group mb-3">
                  <input type="text" class="form-control" name="email" placeholder="Username Or Email Address">
                </div>
                <div class="form-group mb-3">
                  <input type="text" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group mb-0">
                  <button class="btn btn-primary btn-lg py-3" style="background-color: #0075e3;" id="signin-btn">Sign In</button>
                </div>
              </form>   
        </div>
    </div>
</body>
</html>
