#top-container {
    background-image: url("https://dummyimage.com/700x400/c4d8f3/aaa");
     height: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &:hover {
        transition: all 1s;
        background-size: 110%; 
    }
}


#second-container {
    background-color: #F4E0A5;
}


#fresh-threads {
    background-image: url("https://dummyimage.com/700x400/c4d8f3/aaa");
    height: 345px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 130px;
    &:hover {
        transition: all 1s;
        background-size: 110%; 
    }
}


#toy-savings {
    background-image: url("https://dummyimage.com/700x400/c4d8f3/aaa");
    height: 380px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &:hover {
        transition: all 1s;
        background-size: 110%;
    }

}


.split-image {
    height: 345px;
    background-image: url("https://dummyimage.com/500x320/c4d8f3/aaa");
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    display: flex;
    align-items: center;
    &:hover {
        transition: all 1s;
        background-size: 110%; 
    }
}


#easter-gift-container {
    background-color: #F4E0A5;
    .background-container {
        height: 200px;
        background-image: url("https://dummyimage.com/700x400/c4d8f3/aaa");
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        &:hover {
            transition: all 1s;
            background-size: 110%;
        }
    }
}


#discover-yourself-container {
    color: white;
    background-image: url("https://dummyimage.com/700x400/9B1003/610C04");
    height: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &:hover {
        transition: all 1s;
        background-size: 110%; 
    }
}


#encanto-container {
    color: white;
    background-image: url("https://dummyimage.com/700x400/9B1003/610C04");
    height: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    &:hover {
        transition: all 1s;
        background-size: 110%;   
    }
}


#accessories-clothing-container {
    height: 400px;
}

#accessories { 
    background-image: url("https://dummyimage.com/500x320/c4d8f3/aaa");
    background-position: center;
     background-size: 100%;
     &:hover {
        transition: all 1s;
        background-size: 110%;    
     }
}



#clothing {
    background-image: url("https://dummyimage.com/500x320/c4d8f3/aaa");
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    &:hover {
        transition: all 1s;
        transform: scale(1.04);    
    }
}


#empower-container {
    height: 400px;

    #empower-left {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;
    }

    #empower-middle {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;
    }

    #empower-right {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;
        &:hover {
            transition: all 1s;
            background-size: 115%;   
        }
    }
}


#starwars-container {
    height: 400px;

    #starwars-left {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;
        &:hover {
            transition: all 1s;
            background-size: 115%;   
        }
    }

    #starwars-middle {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;    
    }

    #starwars-right {
        background-image: url("https://dummyimage.com/500x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;
    } 
}


#trending-magic-slider {
    height: 400px;
}


#sunshine-ready-container {
    height: 600px;
}


#little-splashes-container {
    background-image: url("https://dummyimage.com/800x1000/c4d8f3/aaa");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
}


#dry-off-container {
    background-image: url("https://dummyimage.com/600x300/c4d8f3/aaa");
    overflow: hidden;
    background-position: center;
    background-size: 100%; 
}


#pack-it-up-container {
    background-image: url("https://dummyimage.com/600x300/c4d8f3/aaa");
    overflow: hidden;
    background-position: center;
    background-size: 100%; 
}


#fifty-anniversary-banner {
    margin-top: 100px;
    height: 150px;
}


#shop-catagories {
    .wrapper {
        width: 95%;
        //margin-left: 10px;
        height: 180px;
        background-image: url("https://dummyimage.com/300x300/c4d8f3/aaa");
        overflow: hidden;
        background-position: center;
        background-size: 100%;  
    }
}


.blank-space {
    height: 500px;
}